<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <a href="#" class="navbar-brand">Woo</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/processes" class="nav-link">Processes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a href="#" class="nav-link">Profile</a>
            </li>
        </ul>
        <span class="navbar-text ">
            <img src="./assets/baseline-settings-20px.svg" alt="III">
        </span>
    </div>
</nav>