<div class="container bg-white">
    <div class="row">
        <div class="col-3">
            <h2>{{process.title}}</h2>
            <p>burito burito taco man</p>
            <div class="text-muted">{{process.creationTime}}</div>
            <p *ngFor="let skill of process.techStack" class="badge badge-pill badge-secondary">
                {{skill}}
            </p>
        </div>

        <div class="col-2 container">

            <div class="col-1">
                <p *ngIf="process.locationExpectationFulfillment; else eLoc">
                    T
                </p>
                <ng-template #eLoc>
                    <p> F</p>
                </ng-template>
            </div>
            <div class="col-11">
                <p>Prefered Location</p><br />
                <p>{{process.location}}</p>
            </div>

        </div>
        <div class="col-2 container">
            <p *ngIf="process.salaryExpectationFulfillment; else eSal">
                T
            </p>
            <ng-template #eSal>
                <p> F</p>
            </ng-template>
            <p>Mounthly salary</p><br />
            <p>{{process.salary}} mounthly</p>
        </div>
        <div class="col-2 container">
            <p *ngIf="(process.technologiesExpectationFulfillmentOf-2*process.technologiesExpectationFulfillmentAmount)>=0; else eSal">
                T
            </p>
            <ng-template #eSal>
                <p> F</p>
            </ng-template>
            <p>Technology</p>
            <p>{{process.technologiesExpectationFulfillmentAmount}} of {{process.technologiesExpectationFulfillmentOf}}</p>
        </div>
        <div class="col-3">
            <div class="d-flex justify-content-end"><span class="badge badge-secondary">{{process.status}}</span></div>
            <div class="d-flex flex-column align-content-end" *ngIf="process.status=='New'">
                <button class="btn btn-block" (click)="accseptStatus()">Accsept</button><br />
                <button class="btn btn-block" (click)="rejectStatus()">Reject</button>
            </div>
        </div>
    </div>
</div>
<br />