<div class="red">
    <div class="row">
        <div class="col-sm-3" style="background-color:rgb(183, 183, 241);">
            <h2>{{process.title}}</h2>
            <p>burito burito taco man</p>
            <div class="text-muted">{{process.creationTime}}</div>
                <p *ngFor="let skill of process.techStack" class="badge badge-pill badge-secondary">
                    {{skill}}
                </p>
        </div>

        <div class="col-sm-2 container" style="background-color:rgb(127, 127, 211);">

            <div class="col-sm-1">
                <p *ngIf="process.locationExpectationFulfillment; else eLoc">
                    T
                </p>
                <ng-template #eLoc>
                    <p> F</p>
                </ng-template>
            </div>
            <div class="col-sm-11">
                <p>Prefered Location</p><br />
                <p>{{process.location}}</p>
            </div>

        </div>
        <div class="col-sm-2 container" style="background-color:rgb(160, 160, 185);">
            <p *ngIf="process.salaryExpectationFulfillment; else eSal">
                T
            </p>
            <ng-template #eSal>
                <p> F</p>
            </ng-template>
            <p>Mounthly salary</p><br />
            <p>{{process.salary}} mounthly</p>
        </div>
        <div class="col-sm-2 container" style="background-color:rgb(231, 219, 150);">
                <p *ngIf="(process.technologiesExpectationFulfillmentOf-2*process.technologiesExpectationFulfillmentAmount)>=0; else eSal">
                        T
                    </p>
                    <ng-template #eSal>
                        <p> F</p>
                    </ng-template>
            <p>Technology</p>
            <p>{{process.technologiesExpectationFulfillmentAmount}} of {{process.technologiesExpectationFulfillmentOf}}</p>
        </div>
        <div class="col-sm-3" style="background-color:lavender;">
            <div class="process.status"><span class="label label-default">{{process.status}}</span></div>
            <div *ngIf="process.status=='New'">
                <button class="btn btn-block" (click)="process.accseptStatus()">Accsept</button><br />
                <button class="btn btn-block" (click)="process.rejectStatus()">Reject</button>
            </div>
        </div>
    </div>
</div>
<br/>