<div class="container" style="background-color:rgb(99, 75, 44);">
  <div class="container">
    <h1>Processes</h1>
    <div class="header container-fluid">
      <div>
        <a class="active" href="#home" (click)="showCondition='New'">New({{newCount}})</a>
        <a href="#contact" (click)="showCondition='Accsepted'">Accsepted({{accseptedCount}})</a>
        <a href="#about" (click)="showCondition='All'">All({{allProcesses.length}})</a>
      </div>

    </div>
    <p *ngFor="let process of allProcesses">
      <app-process *ngIf="process.status=='New'&&(showCondition=='New'||showCondition=='All')" [process]="process"></app-process>
    </p>
    <p *ngFor="let process of allProcesses">
      <app-process *ngIf="process.status=='Accsepted'&&(showCondition=='Accsepted'||showCondition=='All')" [process]="process"></app-process>
    </p>
    <p *ngFor="let process of allProcesses">
      <app-process *ngIf="process.status=='Rejected'&& showCondition=='All'" [process]="process"></app-process>
    </p>
  </div>
</div>