<div class="container-fluid bg-light">
    <div class="container ">
      <h1>Processes</h1>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="/processes" class="nav-link" (click)="showCondition='New'">New({{candidate.newCount}})</a>
            </li>
            <li class="nav-item">
              <a routerLink="/processes/accepted" class="nav-link" (click)="showCondition='Accepted'">Accepted({{candidate.acceptedCount}})</a>
            </li>
            <li class="nav-item">
              <a routerLink="/processes/all" class="nav-link" (click)="showCondition='All'">All({{candidate.allCount}})</a>
            </li>
          </ul>
        </div>
      </nav>
      <br/>
      <router-outlet></router-outlet>
    </div>
  </div>