<div class="container-fluid bg-dark">
    <div class="container">
      <h1>Processes</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="/processes" class="nav-link" (click)="showCondition='New'">New({{candidate.newCount}})</a>
            </li>
            <li class="nav-item">
              <a routerLink="/processes/accepted" class="nav-link" (click)="showCondition='Accepted'">Accepted({{candidate.acceptedCount}})</a>
            </li>
            <li class="nav-item">
              <a routerLink="/processes/all" class="nav-link" (click)="showCondition='All'">All({{candidate.newCount+candidate.acceptedCount+candidate.rejectedCount}})</a>
            </li>
          </ul>
        </div>
      </nav>
      <br/>
  
      <router-outlet></router-outlet>
  
      <!-- <p *ngFor="let process of processes.newProcesses">
        <app-process *ngIf="(showCondition=='New'||showCondition=='All')" [process]="process"
          (changeStatus)="counNews()"></app-process>
      </p>
      <p *ngFor="let process of acceptedProcesses">
        <app-process *ngIf="(showCondition=='Accepted'||showCondition=='All')" [process]="process"
          (changeStatus)="counNews()"></app-process>
      </p>
      <p *ngFor="let process of allProcesses">
        <app-process *ngIf="showCondition=='All'" [process]="process" (changeStatus)="counNews()"></app-process>
      </p> -->
    </div>
  </div>